@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Sans+KR:wght@100;400;700&display=swap');

#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

.hover-text-shadow:hover {
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
