#root {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: auto;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: pan-x;
}